*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
@keyframes box-animation {
    0%   { transform: translate(200px,300px)scale(2)rotate(20deg)skew(35deg); }
  50%  { transform: translate(400px,300px)scale(1.5)rotate(200deg)skew(0deg);
    border-radius: 50%;
    background: deeppink;
 }
 75%  { transform: translate(200px.300px)scale(1.5)rotate(200px)skew(0deg);}
  100% { transform:scale(0.5) ;
    background-color: rgb(165, 42, 134);
    border-radius: 0%;
 }
}
.box{
width: 200px;
height: 200px;
background-color: aquamarine;
transform: translate(200px,300px)scale(2)rotate(20deg);
}
/*10cm*200*/




 
 

  
 
